<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Problem-Statement" data-toc-modified-id="Problem-Statement-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Problem Statement</a></span></li><li><span><a href="#Data-Sources" data-toc-modified-id="Data-Sources-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Sources</a></span></li><li><span><a href="#Methodology" data-toc-modified-id="Methodology-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Methodology</a></span></li></ul></li><li><span><a href="#Data-Preparation" data-toc-modified-id="Data-Preparation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preparation</a></span><ul class="toc-item"><li><span><a href="#Data-provided" data-toc-modified-id="Data-provided-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Data provided</a></span><ul class="toc-item"><li><span><a href="#Data-reading" data-toc-modified-id="Data-reading-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Data reading</a></span></li><li><span><a href="#Data-cleaning:-tn_movie_budgets" data-toc-modified-id="Data-cleaning:-tn_movie_budgets-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Data cleaning: tn_movie_budgets</a></span></li><li><span><a href="#Data-cleaning:-imdb_title_basics" data-toc-modified-id="Data-cleaning:-imdb_title_basics-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Data cleaning: imdb_title_basics</a></span></li><li><span><a href="#Join-the-two-dataframes" data-toc-modified-id="Join-the-two-dataframes-2.1.4"><span class="toc-item-num">2.1.4&nbsp;&nbsp;</span>Join the two dataframes</a></span></li></ul></li><li><span><a href="#Netflix-data" data-toc-modified-id="Netflix-data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Netflix data</a></span><ul class="toc-item"><li><span><a href="#Web-scraping" data-toc-modified-id="Web-scraping-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Web scraping</a></span></li><li><span><a href="#Data-cleaning" data-toc-modified-id="Data-cleaning-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Data cleaning</a></span></li></ul></li><li><span><a href="#Franchises-data" data-toc-modified-id="Franchises-data-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Franchises data</a></span><ul class="toc-item"><li><span><a href="#Web-scraping" data-toc-modified-id="Web-scraping-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Web scraping</a></span></li><li><span><a href="#Data-cleaning" data-toc-modified-id="Data-cleaning-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Data cleaning</a></span></li></ul></li><li><span><a href="#Video-Game-Movies-data" data-toc-modified-id="Video-Game-Movies-data-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Video Game Movies data</a></span></li></ul></li><li><span><a href="#Visualisations-and-Insights" data-toc-modified-id="Visualisations-and-Insights-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Visualisations and Insights</a></span><ul class="toc-item"><li><span><a href="#Number-of-movies-released" data-toc-modified-id="Number-of-movies-released-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Number of movies released</a></span></li><li><span><a href="#Profit-and-Profit-Margin" data-toc-modified-id="Profit-and-Profit-Margin-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Profit and Profit Margin</a></span></li><li><span><a href="#Impact-of-Budget" data-toc-modified-id="Impact-of-Budget-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Impact of Budget</a></span></li><li><span><a href="#Runtime" data-toc-modified-id="Runtime-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Runtime</a></span></li><li><span><a href="#Genre" data-toc-modified-id="Genre-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Genre</a></span><ul class="toc-item"><li><span><a href="#Future-movies" data-toc-modified-id="Future-movies-3.5.1"><span class="toc-item-num">3.5.1&nbsp;&nbsp;</span>Future movies</a></span></li></ul></li><li><span><a href="#Release-date" data-toc-modified-id="Release-date-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Release date</a></span><ul class="toc-item"><li><span><a href="#Release-month" data-toc-modified-id="Release-month-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>Release month</a></span></li><li><span><a href="#Release-day" data-toc-modified-id="Release-day-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>Release day</a></span></li></ul></li><li><span><a href="#Correlations" data-toc-modified-id="Correlations-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Correlations</a></span></li><li><span><a href="#Case-study:-Netflix-Original-Films" data-toc-modified-id="Case-study:-Netflix-Original-Films-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Case study: Netflix Original Films</a></span></li></ul></li><li><span><a href="#Conclusion-and-Future-Work" data-toc-modified-id="Conclusion-and-Future-Work-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Conclusion and Future Work</a></span></li></ul></div>

<b>Final Project Submission</b>

Please fill out:
* Student name: Nadine Amersi-Belton
* Student pace: part time
* Scheduled project review date/time: TBC
* Instructor name: TBC
* Blog post URL: TBC

# Introduction

## Problem Statement

In January 2020, Microsoft Inc. ("the company") decides to enter the movie industry and creates a movie studio. The company approaches consultancy XYZ to provide data-driven insights into the industry and determine what makes a successful movie.

<b> Questions we seek to answer: </b>
- How profitable are movies? 
- What budget should be allocated? 
- What movie genres are currently performing best? 
- How long should the movie be? 
- When should the movie be released?

## Data Sources

Data has been provided and can be found in **link**.

The data comes from:
- Box Office Mojo
- IMDB
- Rotten Tomatoes
- TheMovieDB.org
- The-numbers

In addition, we will scrap data from Wikipedia pertaining to franchises and Netflix original films.

## Methodology

The process can be divided into two parts.

Section 2 focuses on data preparation. 
<br> The steps include: 
- Importing libraries
- Reading and cleaning provided data
- Dealing with missing values
- Scraping additional data and cleaning it
- Joining datasets

Section 3 focuses on visualisations and insights. 
<br> For each characteristic we will be:
- Conducting feature engineering where applicable
- Creating visualisations
- Drawing conclusions

Finally section 4 sets out a summary of our findings and suggested future work.

# Data Preparation

In [1]:
# Import the necessary packages.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from glob import glob
from bs4 import BeautifulSoup
import requests

%matplotlib inline

## Data provided

### Data reading

The data provided is in the zippedData folder. There are a number of .csv and .tsv files. To easily read them all together we make use of glob.

In [2]:
# Create a list of all csv files using glob
csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData/imdb.title.crew.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.title.ratings.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

We will create a dictionary of DataFrames with key the name of the file and value a Pandas DataFrame. This will allow us to then preview all the data by iterrating over the dictionary.

In [3]:
# Create a dictionary of DataFrames
csv_dict = {}
for file in csv_files:
    filename = file.split('zippedData/')[-1].replace(".csv.gz", "").replace(".", "_") # Clean filename
    file_df = pd.read_csv(file) # Create DataFrame
    csv_dict[filename] = file_df # Insert DataFrame into dictionary

In [4]:
# Preview the data
for name, df in csv_dict.items():
    print(name)
    display(df.head()) # Using display instead of print leads to neater formatting in Jupyter Notebook
    print("------------------ \n")

imdb_title_crew

      tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943

------------------

tmdb_movies

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

------------------

imdb_title_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0

------------------

imdb_title_ratings

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

------------------

imdb_name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

------------------

imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

------------------

tn_movie_budgets

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

------------------

bom_movie_gross

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

------------------

imdb_title_principals

      tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]

------------------

We then repeat this process for the .tsv files.

In [5]:
# Create a list of all tsv files using glob
tsv_files = glob("./zippedData/*.tsv.gz")
tsv_files

['./zippedData/rt.reviews.tsv.gz', './zippedData/rt.movie_info.tsv.gz']

In [6]:
# Create a dictionary of DataFrames
tsv_dict = {}
for file in tsv_files:
    filename = file.split('zippedData/')[-1].replace(".tsv.gz", "").replace(".", "_") # Clean filename
    file_df = pd.read_table(file, delimiter = '\t', encoding = 'latin-1') # Create DataFrame
    tsv_dict[filename] = file_df # Insert dataframe into dictionary

In [7]:
# Preview the data
for name, df in tsv_dict.items():
    print(name)
    display(df.head()) # Using display instead of print leads to neater formatting in Jupyter Notebook
    print("------------------ \n")

rt_reviews

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

------------------

rt_movie_info

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

------------------

<b> Summary </b>

We have a number of DataFrames and the first step is to consider which ones will best answer our questions and should be the focus of our analysis. Due to time constraints, it is unlikely that we wil be able to clean all DataFrame and investigate all features.

The first DataFrame which stands out is <b>tn_movie_budgets</b>. This table shows the production budget, domestic and worldwide gross. This financial information will be valuable in exploring the meaning of profit. It will also allow us to distinguish which films perfomed best in the box office as we will be able to focus some of our analysis on the top 100 grossing movies.

In [8]:
# tn_movie_budgets 
tnmb = csv_dict['tn_movie_budgets']
tnmb.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"

The second DataFrame which we will investigate is <b>imdb_title_basics</b>. This table provides us with key features, namely the genre(s) of the movie and its runtime.

In [9]:
# imdb_title_basics
imdb = csv_dict['imdb_title_basics']
imdb.head(2)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"

We note that the <b>bom_movie_gross</b> DataFrame also provides details of revenue (domestic and foreign gross) but does not feature the production budget. To strengthen the reliability of the figures, it would be worthwhile comparing the figures with those in <b>tn_movie_budgets</b>.However this is outside the scope of this preliminary analysis.

Whilst <b>rt_movie_info</b> also provides details of genre and runtime, we have chosed to use the <b>imdb</b> data on the basic that we can more easily access further attributes and match them using imdb's unique <i>tconst</i> identifyer. Again to strengthen the reliability of the data, it would be worthwhile to compare the two. However again this is outside the scope of this preliminary analysis.

### Data cleaning: tn_movie_budgets

In this section we will manipulate the <b> tn_movie_budgets </b> DataFrame to ensure it is ready to for visualisations and insights.

In [10]:
# Set tn_movie_budgets DataFrame as tnmb
tnmb = csv_dict['tn_movie_budgets']
tnmb.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [11]:
# Get Summary
tnmb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

From the summary above, we note that we have 5,782 rows with data. We will first need to check for duplicates. We note that the <b>release_date</b> entries will need to be changed to DateTime object and the <b>production_budget</b>, <b>domestic_gross</b> and <b>worldwide_gross</b> entries will need to be changed from to reflect that they are numeric. As all columns have 5,782 entries there does not appear to be any missing values. However we will check this by viewing the summary statistics.

In [12]:
# See if any duplicates
tnmb.duplicated().any()

False

There are no identical rows.

The <b>id</b> column does not add anything and there are no other datasets from the-numbers that we will look to join. As such we can remove it.

In [13]:
# Remove id column
tnmb = tnmb.drop('id', axis = 1)
tnmb.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

We will convert the <b>release_date</b> entries to be of type DateTime so we can easily extract the year. When looking at when to release a movie we will further extract the month and day.

In [14]:
# Convert release_date to a datetime object
tnmb['release_date'] = pd.to_datetime(tnmb['release_date'])

In [15]:
# Create year column 
tnmb['release_year'] = pd.DatetimeIndex(tnmb['release_date']).year

We note that the <b>production budget</b>, <b>domestic_gross</b> and <b>worldwide_gross</b> entries all require the same type of "cleaning", namely to remove the \$ symbol, the comma seperator and convert to integer. As such it is useful to define a function to make these changes and then use our function on the three columns.

In [16]:
# Define function to clean numbers
def numclean(df,col):
    '''
    param1 = Pandas DataFrame
    param2 = Column
    Removes $ symbol, removes ',' seperator and changes to int type
    Returns DataFrame
    '''
    df[col]=df[col].str.replace("$","").str.replace(",","").astype('int')
    return df

In [17]:
# Run function on the three columns
numclean(tnmb,'production_budget')
numclean(tnmb,'domestic_gross')
numclean(tnmb,'worldwide_gross')

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,2009-12-18,Avatar,425000000,760507625,2776345279,2009
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350,2019
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,2015
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017
...,...,...,...,...,...,...
5777,2018-12-31,Red 11,7000,0,0,2018
5778,1999-04-02,Following,6000,48482,240495,1999
5779,2005-07-13,Return to the Land of Wonders,5000,1338,1338,2005
5780,2015-09-29,A Plague So Pleasant,1400,0,0,2015
5781,2005-08-05,My Date With Drew,1100,181041,181041,2005

We will use the <b>describe.()</b> method to obtain summary statistics and better understand our data as well as check for anomalies.

In [18]:
tnmb.describe()

       production_budget  domestic_gross  worldwide_gross  release_year
count       5.782000e+03    5.782000e+03     5.782000e+03   5782.000000
mean        3.158776e+07    4.187333e+07     9.148746e+07   2003.967139
std         4.181208e+07    6.824060e+07     1.747200e+08     12.724386
min         1.100000e+03    0.000000e+00     0.000000e+00   1915.000000
25%         5.000000e+06    1.429534e+06     4.125415e+06   2000.000000
50%         1.700000e+07    1.722594e+07     2.798445e+07   2007.000000
75%         4.000000e+07    5.234866e+07     9.764584e+07   2012.000000
max         4.250000e+08    9.366622e+08     2.776345e+09   2020.000000

From the above, we note that there are entries where the worldwide gross is zero. It is worth investigating this further. We also note that the movies span the years 1915 to 2020.

In [19]:
# Investigate rows where worldwide_gross is 0
tnmb[tnmb['worldwide_gross'] == 0]

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
194,2020-12-31,Moonfall,150000000,0,0,2020
479,2017-12-13,Bright,90000000,0,0,2017
480,2019-12-31,Army of the Dead,90000000,0,0,2019
535,2020-02-21,Call of the Wild,82000000,0,0,2020
670,2019-08-30,PLAYMOBIL,75000000,0,0,2019
...,...,...,...,...,...,...
5761,2014-12-31,Stories of Our Lives,15000,0,0,2014
5764,2007-12-31,Tin Can Man,12000,0,0,2007
5771,2015-05-19,Family Motocross,10000,0,0,2015
5777,2018-12-31,Red 11,7000,0,0,2018
5780,2015-09-29,A Plague So Pleasant,1400,0,0,2015

In [20]:
# Get number of rows where worldwide_gross is 0
len(tnmb[tnmb['worldwide_gross'] == 0])

367

For some movies, we note the release_date is in the future and as such it is normal that the worldwide gross is unavailable. For others we could investigate futher by researching the titles. However as the number of such entries is small compare to the whole dataset, we have chosen to remove these rows.

In [21]:
# Keep only rows where worldwide_gross is non-zero
tnmb = tnmb[tnmb['worldwide_gross'] != 0]

In [22]:
# Reset index
tnmb = tnmb.reset_index(drop = True)

In [23]:
# View first 5 rows
tnmb.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,2009-12-18,Avatar,425000000,760507625,2776345279,2009
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350,2019
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963,2015
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,2017

This DataFrame is ready.

### Data cleaning: imdb_title_basics

In [24]:
# Set imdb_title_basics as imdb
imdb = csv_dict['imdb_title_basics']
imdb.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [25]:
# Get Summary
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

From the summary we note that this is a large dataset, with 146144 entries. The data types appear correct, with <b>runtime_minutes</b> being a float and <b>start_year</b> an integer. There are missing values in the <b>original_title</b>, <b>runtime_minutes</b> and <b>genres</b> columns, which we will investigate and handle. We will also check for duplicates.

In [26]:
# Get number of missing values per column
imdb.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [27]:
# % of missing values for runtime
(imdb['runtime_minutes'].isna().sum()/len(imdb)*100).round(2)

21.72

This is a significant proportion of our dataset and as such we cannot simply discard these rows. We will need to fill the missing values with a suitable figure.

In [28]:
# Consider mean
imdb['runtime_minutes'].mean().round(2)

86.19

In [29]:
# Consider median
imdb['runtime_minutes'].median().round(2)

87.0

The median of 87 minutes is a better option as it is less sensitive to outliers than the mean. We note that both figures are similar though. We will elect to fill missing values with the median.

In [30]:
# Fill missing values with median
imdb['runtime_minutes'] = imdb['runtime_minutes'].fillna(imdb['runtime_minutes'].median())

In [31]:
# % of missing values for genre
(imdb['genres'].isna().sum()/len(imdb)*100).round(2)

3.7

In [32]:
# % of missing values for original_title
(imdb['original_title'].isna().sum()/len(imdb)*100).round(2)

0.01

For both genre and original titles, the missing values are a much smaller proportion of our dataset and as such we will choose to drop the rows with missing data.

In [33]:
# Drop rows that contain null values
imdb = imdb.dropna()

In [34]:
# Check for duplicates
imdb.duplicated().any()

False

We will use the <b>describe.()</b> method to obtain summary statistics and better understand our data as well as check for anomalies.

In [35]:
# Get summary statistics
imdb.describe()

          start_year  runtime_minutes
count  140734.000000    140734.000000
mean     2014.613945        86.411109
std         2.735566       149.934410
min      2010.000000         1.000000
25%      2012.000000        75.000000
50%      2015.000000        87.000000
75%      2017.000000        95.000000
max      2115.000000     51420.000000

We note that the <b>start_year</b> spans 2010 to 2115! It might be interesting to investigate future movies separately so we will create a DataFrame futuremovies taking all entries with <b>start_year</b> post 2020.

In [36]:
futuremovies = imdb[imdb['start_year'] >= 2020]
futuremovies.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
33,tt0293429,Mortal Kombat,Mortal Kombat,2021,87.0,"Action,Adventure,Fantasy"
93,tt0427340,Masters of the Universe,Masters of the Universe,2021,87.0,"Action,Adventure,Drama"
229,tt0499097,Without Remorse,Without Remorse,2020,87.0,"Action,Crime,Drama"
289,tt0805647,The Witches,The Witches,2020,87.0,"Adventure,Comedy,Family"
386,tt0870154,Jungle Cruise,Jungle Cruise,2020,87.0,Adventure

For <b>runtime_minutes</b>, we note that the shortest movie in our dataset is merely a minute long and the longuest is 51420 minutes long (857 hours!). We will explore this further in our section on runtime.

Let us rename the <b>primary_title</b> column to <b>movie</b> to match the <b>tnmb</b> DataFrame. We can also drop the <b>original_title</b> column as it is not needed.

In [37]:
# Rename primary title to movie
imdb = imdb.rename(columns = {'primary_title':'movie'})
# Drop original title column
imdb = imdb.drop('original_title', axis = 1)

In [38]:
imdb.head()

,tconst,movie,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,2018,87.0,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,2017,80.0,"Comedy,Drama,Fantasy"

This dataframe is ready

### Join the two dataframes

Whilst we could obtain insights from our <b>tnmb</b> and <b>imdb</b> DataFrames seperately, joining them is required to relate genre and runtime to the success of a movie (namely gross revenue and/or profit.) Careful attention is needed so as to preserve as much data as possible and not introduce discrepancies.

Let us remind ourselves of the size of our DataFrames so we can be aware of the loss of data.

In [39]:
# Number of rows for tnmb and imdb DataFrames
display(len(tnmb), len(imdb))

5415

140734

We are considering joining the DataFrames based on the name of the movie. However the name is unlikely to be unique due to the existance of remakes.

Is name a unique identifyer?

In [40]:
# Number of movies with same name in tnmb
len(tnmb[tnmb.duplicated('movie')])

76

In [41]:
# Number of movies with same name in imdb
len(imdb[imdb.duplicated('movie')])

9400

In [42]:
# Sort tnmb by release year
tnmb = tnmb.sort_values('release_year', ascending = False)
# Drop duplicates, keep first occurence
tnmb = tnmb.drop_duplicates(subset = 'movie', keep = 'first')

In [43]:
tnmb.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
95,2019-03-08,Captain Marvel,175000000,426525952,1123061550,2019
1358,2019-05-31,Rocketman,41000000,57342725,108642725,2019
3814,2019-05-03,The Intruder,8000000,35095904,36005871,2019
3778,2019-01-16,Dragon Ball Super: Broly,8500000,30376755,122747755,2019
254,2019-02-22,How to Train Your Dragon: The Hidden World,129000000,160791800,519258283,2019

In [44]:
# Check using Godzilla
tnmb[tnmb['movie'] == 'Godzilla']

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
140,2014-05-16,Godzilla,160000000,200676069,529076069,2014

In [45]:
# Sort imdb by release date
imdb = imdb.sort_values('release_year', ascending = False)
# Drop duplicates, keep first occurence
imdb = imdb.drop_duplicates(subset = 'movie', keep = 'first')

KeyError: 'release_year'

In [ ]:
# Drop release_year 
imdb = imdb.drop('release_year', axis = 1)

In [ ]:
imdb.head()

In [ ]:
# merge imdb and tnmb
movies = pd.merge(tnmb, imdb, on = ['movie'])

In [ ]:
movies

<p style="color:red">TBD: Additional Data - webs scraping to look at franchise</p>

## Netflix data

https://en.wikipedia.org/wiki/List_of_original_films_distributed_by_Netflix

### Web scraping

In [ ]:
# Obtain details of highest grossing franchises
url = requests.get('https://en.wikipedia.org/wiki/List_of_original_films_distributed_by_Netflix')
soup = BeautifulSoup(url.content, 'html.parser')

# Look for tables on wikipedia page
tables = list(soup.findAll('table', {'class':'wikitable sortable'}))
len(tables)

In [ ]:
# Look at first table
table = tables[0]

# Seperate each entry in the table - start as 1 as 0 is just header
entries = table.findAll('tr')[1:]

# Investigate first entry
entry = entries[0]
entry

In [ ]:
# Extract text
text = entry.text.strip().split('\n\n')
text

In [ ]:
# Work on length to get runtime in mins
hours = entry.text.strip().split('\n\n')[3].split()[0]
mins = entry.text.strip().split('\n\n')[3].split()[2]
runtimemins = int(hours)*60+int(mins)
runtimemins

In [ ]:
# Create list of runtimes in mins
netflixruntimes = []
for entry in entries:
    hours = entry.text.strip().split('\n\n')[3].split()[0]
    try:
        mins = entry.text.strip().split('\n\n')[3].split()[2]
        runtimemins = int(hours)*60+int(mins)
        netflixruntimes.append(runtimemins)
    except:
        runtimemins = int(hours)*60
        netflixruntimes.append(runtimemins)

In [ ]:
# Create other lists 
netflixmovies = [entry.text.strip().split('\n\n')[0] for entry in entries]
netflixgenres = [entry.text.strip().split('\n\n')[1] for entry in entries]
netflixpremier_dates = [entry.text.strip().split('\n\n')[2] for entry in entries]
netflixlanguages = [entry.text.strip().split('\n\n')[4] for entry in entries]

In [ ]:
# Create dataframe from lists
netflixdf = pd.DataFrame([netflixmovies, netflixgenres, netflixpremier_dates, netflixruntimes, netflixlanguages]).transpose()
netflixdf.columns = ['movie', 'genre', 'release_date', 'runtime_minutes', 'language']
netflixdf.head()

### Data cleaning

In [ ]:
# View head
netflixdf.head()

In [ ]:
# Get Summary
netflixdf.info()

In [ ]:
# Convert release_date to a datetime object
netflixdf['release_date'] = pd.to_datetime(netflixdf['release_date'])

In [ ]:
# Convert runtime to int
netflixdf['runtime_minutes'] = netflixdf['runtime_minutes'].astype(int)

In [ ]:
netflixdf.info()

## Franchises data

<p style="color:red">Interested in franchises as many if not most have Movie element and way for Microsoft to utilise existing IP.
Introduce Wiki page</p>

### Web scraping

In [ ]:
#Obtain details of highest grossing franchises
url = requests.get('https://en.wikipedia.org/wiki/List_of_highest-grossing_media_franchises')
soup = BeautifulSoup(url.content, 'html.parser')

# Look for tables on wikipedia page.
tables = list(soup.findAll('table', {'class':'wikitable sortable'}))
len(tables)

In [ ]:
# Look at first table, franchises over $10 billion
table10bil = tables[0]

# Seperate each entry in the table - start as 1 as 0 is just header
entries = table10bil.findAll('tr')[1:]

# Investigate first entry
entry = entries[0]

# Extract info
name = entry.findAll('td')[1].text.strip()
revenue = entry.findAll('td')[3].text.strip().replace("\n","")
originalmedia = entry.findAll('td')[5].text.replace("\n","")
owner = entry.findAll('td')[7].text.replace("\n","")
print(f"Name: {name}, Revenue: {revenue}, Original media : {originalmedia}, Owner: {owner}")

In [ ]:
# Create lists 
names = [entry.findAll('td')[1].text.strip() for entry in entries]
revenues = [entry.findAll('td')[3].text.strip().replace("\n","") for entry in entries]
originalmedias = [entry.findAll('td')[5].text.replace("\n","") for entry in entries]
owners = [entry.findAll('td')[7].text.replace("\n","") for entry in entries]

In [ ]:
# Create dataframe from lists
df_franchisesover10b = pd.DataFrame([names, revenues, originalmedias, owners]).transpose()
df_franchisesover10b.columns = ['Name', 'Revenue', 'Original Media', 'Owner']
df_franchisesover10b.head()

In [ ]:
# Do the same process to extract the second table
table4bil = tables[1]

# Seperate each entry in the table - start as 1 as 0 is just header
entries = table4bil.findAll('tr')[1:]

# Investigate first entry
entry = entries[0]

name = entry.findAll('td')[0].text.strip()
revenue = entry.findAll('td')[2].text.strip().replace("\n","")
originalmedia = entry.findAll('td')[4].text.replace("\n","")
owner = entry.findAll('td')[6].text.replace("\n","")
print(f"Name: {name}, Revenue: {revenue}, Original media : {originalmedia}, Owner: {owner}")

In [ ]:
# Create lists 
names = [entry.findAll('td')[0].text.strip() for entry in entries]
revenues = [entry.findAll('td')[2].text.strip().replace("\n","") for entry in entries]
originalmedias = [entry.findAll('td')[4].text.replace("\n","") for entry in entries]
owners = [entry.findAll('td')[6].text.replace("\n","") for entry in entries]

In [ ]:
# Create dataframe from lists
df_franchisesover4b = pd.DataFrame([names, revenues, originalmedias, owners]).transpose()
df_franchisesover4b.columns = ['Name', 'Revenue', 'Original Media', 'Owner']
df_franchisesover4b.head()

In [ ]:
# Join both tables
df_franchises = df_franchisesover10b.append(df_franchisesover4b)
df_franchises

### Data cleaning

In [ ]:
# Reset index
df_franchises = df_franchises.reset_index(drop = True)
df_franchises

In [ ]:
# Transform revenue column into integer

In [ ]:
microsoft_franchises = df_franchises [(df_franchises['Owner'] == 'Microsoft') | 
                                      (df_franchises['Owner'] == 'Microsoft Studios')]

In [ ]:
microsoft_franchises

## Video Game Movies data

https://en.wikipedia.org/wiki/List_of_films_based_on_video_games

In [ ]:
vgdf = pd.read_html('List of films based on video games - Wikipedia.html')

In [ ]:
# Select first item in table
videogamemovies = vgdf[0]
# Only take released movies
videogamemovies[:38]

# Visualisations and Insights

## Number of movies released

In [ ]:
# Movies first 5 rows
movies.head()

In [ ]:
# Describe release_year column
movies['release_year'].describe()

In [ ]:
# Create bins for each decade
bins = [1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
names = [ '1930s', '1940s', '1950s', '1960s', '1970s', '1980s', '1990s', '2000s', 'post 2010']

In [ ]:
# Create decade column 
movies['decade'] = pd.cut(movies['release_year'], bins, labels=names)

In [ ]:
# Check column added
movies.head()

In [ ]:
# Plot number of movies released per decade
sns.catplot(x = 'decade', kind = 'count', data = movies, aspect = 2)
plt.ylabel('Number of Movies', fontsize=12)
plt.xlabel('Decade', fontsize=12)
plt.title('Number of Movies released per decade', fontsize = 12)
plt.show()

In [ ]:
# Plot number of movies released per year 1990 onwards
sns.catplot(x = 'release_year', kind = 'count', data = movies[movies['release_year'] >=1990], aspect = 2.5)
plt.ylabel('Number of Movies', fontsize=12)
plt.xlabel('Year', fontsize=12)
plt.title('Number of Movies released per year', fontsize = 12)
plt.show()

## Profit and Profit Margin

The business value of this venture relies on making profit.

In [ ]:
# Create profit column as worldwide_gross less production_budget
movies['profit'] = movies.apply(lambda x: (x['worldwide_gross']) - (x['production_budget']), axis = 1)

In [ ]:
movies.head()

In [ ]:
# Get summary statistics for profit
# Use plain formatting to remove scientific notation
movies['profit'].describe().apply(lambda x: format(x, 'f'))

In [ ]:
# Plot relationship between profit and worldwide gross
plt.figure(figsize = (7,7))
sns.regplot(x = 'profit', y = 'worldwide_gross', data = movies)
plt.title('Relationship between Worldwide gross and Profit')
plt.xlabel('Profit in USD billions')
plt.ylabel('Worldwide Gross in USD billions')
plt.show()

In [ ]:
recentmovies = movies[movies['release_year'] >= 2010]

In [ ]:
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]

In [ ]:
toprecentmovies['profit'].describe().apply(lambda x: format(x, 'f'))

In [ ]:
plt.figure(figsize = (8,5))
sns.distplot(toprecentmovies['profit'])
plt.title('Distribution of Profit in Top 100 Grossing Movies 2010-2019')
plt.xlabel('Profit in USD billions')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Create profit margin column
movies['profit_margin'] = movies.apply(lambda x: ((x['profit']) / (x['worldwide_gross']))*100, axis = 1)

In [ ]:
# Get summary statistics for profit margin
# Use plain formatting to remove scientific notation
movies['profit_margin'].describe().apply(lambda x: format(x, 'f'))

In [ ]:
recentmovies = movies[movies['release_year'] >= 2010]
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]
toprecentmovies['profit_margin'].describe()

In [ ]:
plt.figure(figsize = (8,5))
sns.distplot(toprecentmovies['profit_margin'])
plt.title('Profit Margin for Top 100 Grossing Movies 2010-2019')
plt.xlabel('Profit Margin %')
plt.ylabel('Frequency')
plt.show()

In [ ]:
topprofit = recentmovies.sort_values('profit', ascending = False)
topprofit.head()

In [ ]:
topprofitmargin = recentmovies.sort_values('profit_margin', ascending = False)
topprofitmargin.head()

## Impact of Budget

In [ ]:
# Describe production budget
# Use plain formatting to remove scientific notation
movies['production_budget'].describe().apply(lambda x: '%.5f' % x)

In [ ]:
# Define bins based on statistics
bins = [0, 7000000, 20000000, 50000000, np.inf]
names = ['<7m', '7-20m', '20-50m', '>50m']

In [ ]:
# Create budget_range column
movies['budget_range'] = pd.cut(movies['production_budget'], bins, labels=names)

In [ ]:
# Boxplot of Bugdet Range
sns.catplot(x = 'budget_range', y = 'worldwide_gross', aspect =1.5, kind = 'box', data = movies)
plt.title('Impact of Budget on Worldwide Gross')
plt.xlabel('Budget in USD Millions')
plt.ylabel('Worldwide Gross in USD Billions')
plt.show()

In [ ]:
recentmovies = movies[movies['release_year'] >= 2010]

In [ ]:
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]

In [ ]:
# Describe production budget
# Use plain formatting to remove scientific notation
toprecentmovies['production_budget'].describe().apply(lambda x: '%.5f' % x)

In [ ]:
toprecentmovies[toprecentmovies['production_budget'] > 300000000]

In [ ]:
# Define bins based on statistics
bins = [0, 100000000, 150000000, 200000000, np.inf]
names = ['35-100m', '100-150m', '150-200m','200-420m' ]

In [ ]:
# Reassign budget_range column
toprecentmovies['budget_range'] = pd.cut(toprecentmovies['production_budget'], bins, labels=names)

In [ ]:
# Boxplot of budget range
sns.catplot(x = 'budget_range', y = 'worldwide_gross', kind = 'box', aspect = 1.5, data = toprecentmovies)
plt.title('Impact of Budget on Worldwide Gross')
plt.xlabel('Budget in USD Millions')
plt.ylabel('Worldwide Gross in USD Billions')
plt.show()

## Runtime

In [ ]:
# Get statistics for runtime
movies['runtime_minutes'].describe()

In [ ]:
def runtimeplot(df):
    sns.distplot(df['runtime_minutes'])
    plt.title('Runtime distribution')
    plt.xlabel('Minutes')
    plt.ylabel('Frequency')
    return plt.show()

In [ ]:
runtimeplot(movies)

In [ ]:
toprecentmovies['runtime_minutes'].describe()

In [ ]:
runtimeplot(toprecentmovies)

Does a longer movie require a larger production budget?

In [ ]:
# plot relationshop between runtime and budget
sns.regplot(x = 'runtime_minutes', y = 'production_budget', data = toprecentmovies)

In [ ]:
# Get the correlation coefficient between runtime and production budget
toprecentmovies['runtime_minutes'].corr(toprecentmovies['production_budget'])

## Genre

In [ ]:
# Preview relevant columns
movies[['movie', 'genres']].head()

In [ ]:
# Obtain unique values in genres column
genres = movies['genres'].unique()
genres[:5]

In [ ]:
# Split genres
splitgenres = []
for genre in genres:
    splitgenres += genre.split(',')
splitgenres[:5]

In [ ]:
# Use set to obtain unique values
uniquegenres = set(splitgenres)
uniquegenres

In [ ]:
# Turn back to list to be able to sort alphabetically
listofgenres = list(uniquegenres)
sortedgenres = sorted(listofgenres)
sortedgenres[:5]

In [ ]:
# Create columns with genres
for genre in sortedgenres:
    movies[genre] = 0

In [ ]:
# Split genres in genres column
movies['genres'] = movies['genres'].map(lambda x : x.split(','))

In [ ]:
# Map to columns - set to 1 if genre applies
for index, genres in enumerate(movies['genres']):
    for genre in genres:
        movies.loc[index,genre] = 1

In [ ]:
# Checking it worked with example genre Action
movies[['genres','Action']][:5]

In [ ]:
# genre counter function
def genrecounter(df):
    '''
    param1 df: dataframe
    returns dictionary with genre key and value count
    also sorts dictionary based on values and removes nul values
    ''' 
    # Start with empty dictionary
    genredict = {}
    
    # Get genre columns
    genrecols = df.loc[:, 'Action':'Western'].columns
    
    # Go through each column and sum it
    for col in genrecols:
        genredict[col] = df[col].sum()
        
    # sort dictionary based on counts, ascending order so reverse = True    
    sortedgenresdict = {keys: values for keys, values in \
                        sorted(genredict.items(), key = lambda item: item[1], reverse = True)}
    
    # remove any key-value pairs where the value is 0
    nonnulgenresdict = {keys: values for keys, values in \
                        sortedgenresdict.items() if values != 0}

    return nonnulgenresdict

In [ ]:
# Run genre counter function on Movies DataFrame
allgenrescount = genrecounter(movies)
allgenrescount

In [ ]:
def genreplot(dictionary,title):
    x_values = list(dictionary.keys())
    y_values = list(dictionary.values())
    plt.figure(figsize = (15,10))
    sns.barplot(y = x_values, x = y_values)
    plt.xlabel('Number of movies')
    plt.ylabel('Genre')
    plt.title(title)
    return plt.show()

In [ ]:
genreplot(allgenrescount,'Movie genres distribution')

In [ ]:
# Obtain recent movies
recentmovies = movies[movies['release_year'] >= 2010]

# Run genre counter function on recentmovies DataFrame
recentgenrescount = genrecounter(recentmovies)
recentgenrescount

In [ ]:
# Plot recent movie genres
genreplot(recentgenrescount,'Genres of movies released post 2010')

In [ ]:
# Obtain top recent movies
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]

# Run genre counter function on toprecentmovies DataFrame
toprecentgenrescount = genrecounter(toprecentmovies)
toprecentgenrescount

In [ ]:
# Plot top recent movie genres
genreplot(toprecentgenrescount,'Genres of top 100 grossing movies post 2010')

In [ ]:
topactionmovies = toprecentmovies[(toprecentmovies['Action'] == 1) | (toprecentmovies['Adventure'] == 1)]

In [ ]:
topactionmovies['production_budget'].median()

In [ ]:
recentmovies['production_budget'].median()

In [ ]:
sns.lineplot(x = 'release_year', y = 'worldwide_gross', hue = 'Action', data = movies[movies['release_year']>= 2000])

### Future movies

In [ ]:
futuremovies.head()

In [ ]:
futuremovies = futuremovies.reset_index(drop = True)

In [ ]:
# Obtain unique values in genres column
genres = futuremovies['genres'].unique()
genres[:5]
# Split genres
splitgenres = []
for genre in genres:
    splitgenres += genre.split(',')
splitgenres[:5]
# Use set to obtain unique values
uniquegenres = set(splitgenres)
uniquegenres
# Turn back to list to be able to sort alphabetically
listofgenres = list(uniquegenres)
sortedgenres = sorted(listofgenres)
sortedgenres[:5]
# Create columns with genres
for genre in sortedgenres:
    futuremovies[genre] = 0

In [ ]:
futuremovies.head()

In [ ]:
# Split genres in genres column
futuremovies['genres'] = futuremovies['genres'].map(lambda x : x.split(','))

In [ ]:
# Map to columns - set to 1 if genre applies
for index, genres in enumerate(futuremovies['genres']):
    for genre in genres:
        futuremovies.loc[index,genre] = 1

In [ ]:
futuremovies.columns

In [ ]:
# Run genre counter function on Movies DataFrame
futuregenrescount = genrecounter(futuremovies)
futuregenrescount

In [ ]:
genreplot(futuregenrescount,'Future movie genres distribution')

## Release date

### Release month

In [ ]:
# View relevant columns
movies[['release_date', 'movie']]

In [ ]:
# Create month column 
movies['release_month'] = pd.DatetimeIndex(movies['release_date']).month

In [ ]:
# View relevant columns/ check
movies[['release_date', 'release_month', 'movie']].head()

In [ ]:
# Plot release month for all movies
fig, ax = plt.subplots(ncols = 2, nrows = 1, figsize = (12,5))
sns.catplot( x = 'release_month', kind = 'count', data = movies, ax = ax[0])
ax[0].set_xlabel('Release Month')
ax[0].set_ylabel('Number of Movies')
ax[0].set_title('Number of Movies released per Month')
sns.catplot( x = 'release_month', y = 'worldwide_gross', kind = 'bar', data = movies, ax = ax[1])
ax[1].set_xlabel('Release Month')
ax[1].set_ylabel('Worldwide Gross in USD billions')
ax[1].set_title('Worldwide Gross per Release Month')
plt.close(2)
plt.close(3)
plt.show()

In [ ]:
# Obtain recent movies
recentmovies = movies[movies['release_year'] >= 2010]

In [ ]:
# Obtain top recent movies
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]

In [ ]:
# Plot release month for top recent movies
fig, ax = plt.subplots(ncols = 2, nrows = 1, figsize = (12,5))
sns.catplot( x = 'release_month', kind = 'count', data = toprecentmovies, ax = ax[0])
ax[0].set_xlabel('Release Month')
ax[0].set_ylabel('Number of Movies')
ax[0].set_title('Number of Movies released per Month')
sns.catplot( x = 'release_month', y = 'worldwide_gross', kind = 'bar', data = toprecentmovies, ax = ax[1])
ax[1].set_xlabel('Release Month')
ax[1].set_ylabel('Worldwide Gross in USD billions')
ax[1].set_title('Worldwide Gross per Release Month')
plt.close(2)
plt.close(3)
plt.show()

In [ ]:
# Plot release month for top recent movies - distinguishing whether adventure film or not
fig, ax = plt.subplots(ncols = 2, nrows = 1, figsize = (12,5))
sns.catplot( x = 'release_month', kind = 'count', hue = 'Adventure', data = toprecentmovies, ax = ax[0])
ax[0].set_xlabel('Release Month')
ax[0].set_ylabel('Number of Movies')
ax[0].set_title('Number of Movies released per Month')
sns.catplot( x = 'release_month', y = 'worldwide_gross', kind = 'bar', hue = 'Adventure',data = toprecentmovies, ax = ax[1])
ax[1].set_xlabel('Release Month')
ax[1].set_ylabel('Worldwide Gross in USD billions')
ax[1].set_title('Worldwide Gross per Release Month')
plt.close(2)
plt.close(3)
plt.show()

### Release day

In [ ]:
# View relevant columns
movies[['release_date', 'movie']]

In [ ]:
# Create day column 
movies['release_day'] = pd.DatetimeIndex(movies['release_date']).dayofweek

In [ ]:
# View relevant columns/ check
movies[['release_date', 'release_day', 'movie']].head()

In [ ]:
# Plot release day for all movies
fig, ax = plt.subplots(ncols = 2, nrows = 1, figsize = (12,5))
sns.catplot( x = 'release_day', kind = 'count', data = movies, ax = ax[0])
ax[0].set_xlabel('Release Day')
ax[0].set_ylabel('Number of Movies')
ax[0].set_title('Number of Movies released per Day of the Week')
sns.catplot( x = 'release_day', y = 'worldwide_gross', kind = 'bar', data = movies, ax = ax[1])
ax[1].set_xlabel('Release Day')
ax[1].set_ylabel('Worldwide Gross in USD billions')
ax[1].set_title('Worldwide Gross per Release Day')
plt.close(2)
plt.close(3)
plt.show()

In [ ]:
# Obtain recent movies
recentmovies = movies[movies['release_year'] >= 2010]

In [ ]:
# Obtain top recent movies
toprecentmovies = recentmovies.sort_values('worldwide_gross', ascending = False)[:100]

In [ ]:
# Plot release day for top recent movies
fig, ax = plt.subplots(ncols = 2, nrows = 1, figsize = (12,5))
sns.catplot( x = 'release_day', kind = 'count', data = toprecentmovies, ax = ax[0])
ax[0].set_xlabel('Release Day')
ax[0].set_ylabel('Number of Movies')
ax[0].set_title('Number of Movies released per Day of the Week')
sns.catplot( x = 'release_day', y = 'worldwide_gross', kind = 'bar', data = toprecentmovies, ax = ax[1])
ax[1].set_xlabel('Release Day')
ax[1].set_ylabel('Worldwide Gross in USD billions')
ax[1].set_title('Worldwide Gross per Release Day')
plt.close(2)
plt.close(3)
plt.show()

## Correlations

In [ ]:
# Drop genre cols
genrecols = toprecentmovies.loc[:, 'Action':'Western'].columns
relevantcols = toprecentmovies.drop(genrecols, axis = 1)

In [ ]:
# Code inspired from: https://seaborn.pydata.org/examples/many_pairwise_correlations.html

# Create correlation matrix
corr = relevantcols.corr()

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=np.bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(12, 10))

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap='coolwarm', center= 0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})
plt.show()

In [ ]:
sns.regplot(x = 'profit_margin', y = 'production_budget', data = toprecentmovies)

In [ ]:
toprecentmovies['profit_margin'].corr(toprecentmovies['production_budget']).round(2)

In [ ]:
sns.regplot(x = 'profit', y = 'worldwide_gross', data = toprecentmovies)

In [ ]:
toprecentmovies['profit'].corr(toprecentmovies['worldwide_gross']).round(2)

## Case study: Netflix Original Films

In [ ]:
netflixdf

In [ ]:
# Create new column release_year
netflixdf['release_year']=pd.DatetimeIndex(netflixdf['release_date']).year
netflixdf.head()

In [ ]:
# Plot number of movies released per year
sns.catplot(x = 'release_year', kind = 'count', data = netflixdf)
plt.ylabel('Number of Movies', fontsize=12)
plt.xlabel('Year', fontsize=12)
plt.title('Number of Movies released per year', fontsize = 12)
plt.show()

In [ ]:
# Describe runtime
netflixdf['runtime_minutes'].describe()

In [ ]:
# Plot runtime
runtimeplot(netflixdf)

In [ ]:
# Investigate genres 
netflixdf['genre'].unique()

In [ ]:
# Remove special characters "," "/" and "-" from genres
# Convert to lower case
# Split and select first word
netflixdf['genre'] = netflixdf['genre'].map( \
    lambda x : x.replace(',',' ').replace('/',' ').replace('-',' ').lower().split()[0])

# Repair 'science' to 'science-fiction', 'coming' to 'coming of age'

In [ ]:
netflixdf['genre'].unique()

In [ ]:
# Repair 'science' to 'science-fiction', 
# 'coming' to 'comedy'
# 'black' to 'comedy'
# 'crime' to 'drama'
# 'dark' to 'comedy'
# 'romantic' to 'comedy'
# 'psychological' to 'thriller'
netflixdf['genre'] = netflixdf['genre'].replace({'science': 'sci-fi', 'coming': 'comedy' \
                                          , 'dark': 'comedy', 'crime': 'drama' \
                                          , 'romantic' : 'comedy', 'psychological' : 'thriller'})

In [ ]:
netflixdf['genre'].unique()

In [ ]:
plt.figure(figsize = (15,10))
sns.countplot(y = 'genre',order = netflixdf['genre'].value_counts().index, data = netflixdf)

# Conclusion and Future Work